@import 'reset.css';

#id {
  max-width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.form__container {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #301f74;
  }

  &__logo {
    margin-left: 75px;
  }

  &__img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.25);
    }
  }

  &__wrapper {
    display: flex;
  }

  &__user {
    margin-right: 15px;
    & img {
      width: 30px;
      height: 30px;
    }
  }
  &__btn {
    margin-right: 75px;
    background-color: transparent;
    border: none;
    color: white;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: red;
    }

    &.disabled {
      color: gray;
    }
  }
  &__text {
    color: white;
  }
}

.main__container {
  margin: 0 75px;
}

.grid__container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  margin-bottom: 40px;
}

.btn-m8 {
  margin: 8px 0;
}

.room__data-container {
  margin-left: 25px;
}

.room__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}

.room__text {
  margin-bottom: 16px;
  font-size: 18px;
}

.bold-text {
  font-weight: bold;
}

.room__btn-wrapper {
  margin-bottom: 16px;
}

.room__btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn-checkin {
  margin-right: 25px;
}

.room__subtitle {
  margin-bottom: 16px;
  font-size: 20px;
}

.room__description {
  margin-right: 10px;
  font-size: 18px;
  line-height: 24px;
}

.mr-10 {
  margin-right: 10px;
}
