@import 'reset.css';

#id {
  max-width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.form__container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
}

.login__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-k7429z).ant-col-8 {
  flex: 0 0 15%;
}

:where(.css-dev-only-do-not-override-k7429z).ant-col-offset-8 {
  margin-inline-start: 0;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #301f74;
  }

  &__logo {
    margin-left: 75px;
  }

  &__img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.25);
    }
  }

  &__wrapper {
    display: flex;
  }

  &__user {
    margin-right: 15px;
    & img {
      width: 30px;
      height: 30px;
    }
  }
  &__btn {
    margin-right: 75px;
    background-color: transparent;
    border: none;
    color: white;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: red;
    }

    &.disabled {
      color: gray;
    }
  }
  &__text {
    color: white;
  }
}

.main__container {
  margin: 0 75px;
}

.grid__container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  margin-bottom: 40px;
}

.btn-login {
  transform: translateX(220px);
  padding: 0 40px;
  border-radius: 0;
}

.btn-checkin {
  margin-right: 25px;
}

.btn-m8 {
  margin: 8px 0;
}

.bold-text {
  font-weight: bold;
}

.room {
  &__data-container {
    margin-left: 25px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
  }

  &__text {
    margin-bottom: 16px;
    font-size: 18px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
  }

  &__description {
    margin-right: 10px;
    font-size: 18px;
    line-height: 24px;
  }
}

.mr-10 {
  margin-right: 10px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-table-wrapper .ant-table-pagination-right {
  justify-content: center;
}
